/* Container for the entire auth section */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000 0%, #616165 100%);
  font-family: serif;

}

/* Styling for the welcome section */
.welcome {
  text-align: center;
  color: #fff;
  font-family: serif;
}

.welcome h2 {
  font-size: 2em;
  font-family: serif;
  margin-bottom: 20px;
  color: #fff;
}

.welcome button {
  background-color: #ff4757;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.welcome button:hover {
  background-color: #e84118;
}

/* Styling for the auth form */
.auth-form {
  background: #918c8c;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #333;
}

.auth-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.auth-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-form button {
  background-color: #9d3179;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  margin-bottom: 10px;
}

.auth-form button:hover {
  background-color: #4c149c;
}

.auth-form .error {
  color: #e74c3c;
  margin-bottom: 20px;
}

.auth-form button[type="button"] {
  background-color: #3498db;
}

.auth-form button[type="button"]:hover {
  background-color: #2980b9;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .auth-container {
    padding: 20px;
  }

  .auth-form {
    padding: 20px;
  }
}
